<section class="pokecard-grid" data-testid="pokecardgrid">
  <ng-container *ngFor="let pokemon of pokemons">
    <div
      class="pokecard"
      [ngClass]="pokemon.type"
      (click)="clicked(pokemon)"
      [attr.data-testid]="'pokecarditem-' + pokemon.position"
    >
      <div class="pokecard-title">
        <p>{{ pokemon.position | position }}</p>
      </div>
      <div class="pokecard-body">
        <img [src]="pokemon.img" height="150" width="150" />
      </div>
      <div class="pokecard-footer">
        <p>{{ pokemon.name }}</p>
      </div>
    </div>
  </ng-container>
</section>
