.grass {
  border-color: var(--color-grass);
  .pokecard-title {
    color: var(--color-grass);
  }

  .pokecard-footer {
    background: var(--color-grass);
  }
}

.fire {
  border-color: var(--color-fire);
  .pokecard-title {
    color: var(--color-fire);
  }

  .pokecard-footer {
    background: var(--color-fire);
  }
}

.water {
  border-color: var(--color-water);
  .pokecard-title {
    color: var(--color-water);
  }

  .pokecard-footer {
    background: var(--color-water);
  }
}

.poison {
  border-color: var(--color-poison);
  .pokecard-title {
    color: var(--color-poison);
  }

  .pokecard-footer {
    background: var(--color-poison);
  }
}

.bug {
  border-color: var(--color-bug);
  .pokecard-title {
    color: var(--color-bug);
  }

  .pokecard-footer {
    background: var(--color-bug);
  }
}

.fairy {
  border-color: var(--color-fairy);
  .pokecard-title {
    color: var(--color-fairy);
  }

  .pokecard-footer {
    background: var(--color-fairy);
  }
}

.normal {
  border-color: var(--color-normal);
  .pokecard-title {
    color: var(--color-normal);
  }

  .pokecard-footer {
    background: var(--color-normal);
  }
}

.dragon {
  border-color: var(--color-dragon);
  .pokecard-title {
    color: var(--color-dragon);
  }

  .pokecard-footer {
    background: var(--color-dragon);
  }
}

.psychic {
  border-color: var(--color-psychic);
  .pokecard-title {
    color: var(--color-psychic);
  }

  .pokecard-footer {
    background: var(--color-psychic);
  }
}

.ghost {
  border-color: var(--color-ghost);
  .pokecard-title {
    color: var(--color-ghost);
  }

  .pokecard-footer {
    background: var(--color-ghost);
  }
}

.ground {
  border-color: var(--color-ground);
  .pokecard-title {
    color: var(--color-ground);
  }

  .pokecard-footer {
    background: var(--color-ground);
  }
}

.steel {
  border-color: var(--color-steel);
  .pokecard-title {
    color: var(--color-steel);
  }

  .pokecard-footer {
    background: var(--color-steel);
  }
}

.flying {
  border-color: var(--color-flying);
  .pokecard-title {
    color: var(--color-flying);
  }

  .pokecard-footer {
    background: var(--color-flying);
  }
}

.ice {
  border-color: var(--color-ice);
  .pokecard-title {
    color: var(--color-ice);
  }

  .pokecard-footer {
    background: var(--color-ice);
  }
}

.electric {
  border-color: var(--color-electric);
  .pokecard-title {
    color: var(--color-electric);
  }

  .pokecard-footer {
    background: var(--color-electric);
  }
}

.rock {
  border-color: var(--color-rock);
  .pokecard-title {
    color: var(--color-rock);
  }

  .pokecard-footer {
    background: var(--color-rock);
  }
}

.dark {
  border-color: var(--color-dark);
  .pokecard-title {
    color: var(--color-dark);
  }

  .pokecard-footer {
    background: var(--color-dark);
  }
}

.fighting {
  border-color: var(--color-fighting);
  .pokecard-title {
    color: var(--color-fighting);
  }

  .pokecard-footer {
    background: var(--color-fighting);
  }
}
