/* You can add global styles to this file, and also import other style files */
:root {
  --color-fire: #f57d31;
  --color-grass: #74cb48;
  --color-poison: #a43e9e;
  --color-water: #6493eb;
  --color-bug: #91c12f;
  --color-fairy: #ec8fe6;
  --color-normal: #919aa2;
  --color-dragon: #0b6dc3;
  --color-psychic: #fa7179;
  --color-ghost: #5269ad;
  --color-ground: #d97845;
  --color-steel: #5a8ea2;
  --color-flying: #89aae3;
  --color-ice: #73cec0;
  --color-electric: #f4d23c;
  --color-rock: #c5b78c;
  --color-dark: #5a5465;
  --color-fighting: #ce416b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}
body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}
button {
  cursor: pointer;
}
[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
